.container1{
    width: 1080px;
    margin: 0 auto;
}
.quote{
    margin: 0 10px;
    float: right;
    width: 200px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.container2{
    width: 1080px;
    margin: 0 auto;
    overflow: auto;
}
.paragraph{
    width: 250px;
    background-color: #dddddd;
    margin: 5px 10px;
    float: left;
}
.clear{
    clear: both;
}

.container3{
    width: 1080px;
    margin: 0 auto;
}
.container3 .heading{
    padding: 5px;
    background-color: #cccccc;
    border-radius: 20px;
}
.container3 .sidebar{
    width: 250px;
    min-height: 600px;
    background-color: #cccccc;
    border-radius: 20px;
    float: left;
    margin-bottom: 20px;
}
.container3 .sidebar-heading{
    padding: 5px 10px;
}
.container3 .sidebar .sidebar-nav{
    padding: 0 10px;
}
.container3 .sidebar .sidebar-entry{
    list-style: none;
    padding: 10px 5px;
    border-bottom: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.container3 .content{
    padding: 15px;
    margin-left: 275px;
    background-color: #cccccc;
    border-radius: 20px;
}
.container3 .footer{
    clear: left;
    text-align: right;
    padding: 3px 15px;
    background-color: #cccccc;
    border-radius: 20px;
}