*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

nav{
    background-color: #333333;
}
.navbar{
    max-width: 1080px;
    margin: 0 auto;
}
nav .logo{
    padding-top: 15px;
    font-family: 'Roboto', Arial;
    font-weight: bold;
    color: #dddddd;
    font-size: 20px;
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
nav ul li{
    padding: 20px;
    font-family: 'Roboto', Arial;
    color: white;
    display: inline-block;
}
nav ul li:hover{
    color: rgba(247, 192, 138, 0.7);
    background-color: #444444;
}
.active-link{
    color: rgb(220, 170, 110);
}
.clear{
    clear: both;
}

.main-image{
    height: 600px;
    background-image: url(images/showcase.jpg);
    background-position: center;
}
.main-greeting{
    color: #dddddd;
    padding-top: 200px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1px;
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
}
.main-description{
    padding-top: 25px;
    text-align: center; 
    color: #dddddd;
    font-family: 'Roboto Mono', sans-serif;
}
.main-button{
    display:block;
    width: 160px;
    padding: 10px 5px;
    text-decoration: none;
    font-family: 'Roboto';
    text-align: center;
    color: white;
    background-color: rgba(50, 50, 50, 0.7);
    margin: 30px auto;
}
.main-button:hover{
    background-color: rgba(247, 192, 138, 0.7);
}

.history-section{
    height: 400px;
}
.history-image{
    background: url(images/photo-1.jpg);
    width: 50%;
    height: 100%;
    float: left;
}
.history{
    float: right;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.history-heading{
    color: white;
    text-align: center;
    font-family: 'Roboto';
    padding: 20px;
    padding-top: 35px;
}
.history-text{
    color: white;
    padding: 0 40px;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: -1px;
    line-height: 1.7em;
}
.history-button{
    display:block;
    width: 160px;
    padding: 10px 5px;
    text-decoration: none;
    font-family: 'Roboto';
    text-align: center;
    color: #333;
    background-color: rgba(255,255,255,0.8);
    margin: 30px auto;
}
.history-button:hover{
    color: white;
    background-color: rgba(247, 192, 138, 0.7);
}

.widgets{
}
.location{
    background-color: white;
    float: left;
    width: 33%;
}
.meals{
    background-color: orange;
    float: left;
    width: 33%;
}
.fitness-room{
    float: left;
    width: 33%;
}
h3.widget-title{
    font-family: 'Roboto';
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}
.widget-description{
    font-family: 'Roboto Mono';
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 40px 20px;
    text-align: center;
}

footer{
    padding: 15px;
    background-color: #333;
}
footer h5{
    color: #ddd;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align: center;
    text-transform: uppercase;
}

.about-section{
    padding: 40px 0px;
    background-color: #fafafc;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.about-text{
    float: left;
    width: 50%;
}
.about-text h2{
    margin: 0;
    font-family: 'Roboto';
}
.about-text p{
    font-family: 'Roboto Mono';
}
.about-image{
    float: right;
    width: 50%;
}
.about-image img{
    display: block;
    margin: auto;
    height: 300px;
    border-radius: 50%;
}

.testimonial-section{
    padding: 80px 0px;
    background-image: url("images/test-bg.jpg");
}
.testimonial-heading{
    color: white;
    font-family: 'Roboto';
    text-align: center;
    font-size: 2em;
}
.testimonial{
    margin: 30px 0;
    border-radius: 20px;
    background-color: rgba(255, 193, 152, 0.5);
}
.testimonial-text{
    float: right;
    width: 80%;
    padding: 20px;
    font-family: 'Roboto Mono';
}
.testimonial-picture{
    float: left;
    width: 20%;
    padding: 20px;
}
.testimonial-picture img{
    display: block;
    margin: auto;
    width: 90px;
    border-radius: 50%;
}

.contactus-section h2{
    font-size: 3em;
    font-family: 'Roboto';
}
.contactus-section p{
    font-family: 'Roboto Mono';
    margin-bottom: 30px;
}
.contactus-section label{
    display: block;
    padding: 5px 0;
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: -1px;
}
.contactus-section input{
    margin-bottom: 20px;
    width: 100%;
    padding: 5px 5px;
    font-size: 15px;
}
.contactus-section textarea{
    width: 100%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    font-size: 15px;
}
input[type=submit]{
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    height: 50px;
    width: 120px;
}
input[type=submit]:hover{
    background-color: #444;
}
input[type=submit]:focus{
    outline: none;
}
